<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserAdditionAndGet</servlet-name>
        <servlet-class>servlets.UserAdditionAndGet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TsitsipasDog_Servlet</servlet-name>
        <servlet-class>servlets.TsitsipasDog_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserAdditionAndGet</servlet-name>
        <url-pattern>/UserAdditionAndGet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TsitsipasDog_Servlet</servlet-name>
        <url-pattern>/TsitsipasDog_Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
